# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# Streamlit
.streamlit/secrets.toml
.env

# Virtual environment
.venv/
venv/
ENV/
env/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
data/user_uploads/
